.c-counter
  & > h1
    color #FF8446
    font-size 3em
    margin .3em

  & > button
    border solid 1px #FF8446
    background lighten(#FF8446, 10%)
    padding .5em 1em
    color white
    font-weight bold

    & + button
      margin-left .3em
